---
title: About
---

<h1>About</h1>

<p>This project is derived from the
  <a href="https://github.com/nationalparkservice/symbol-library">National Park Service Symbol Library</a>.</p>

<p>The initial goal is generating a set of parameterized SVGs for use with <a href="https://qgis.org/">QGIS</a>. Those
  can be found in the <code>transparent</code> set of symbols.</p>

<p>If you have a suggestion or problem to report, please
  <a href="https://github.com/spilth/national-park-symbols/issues/new">create an issue</a>.</p>

<h2>Links</h2>

<ul>
  <li><a href="https://github.com/spilth/national-park-symbols">Project source code on GitHub</a></li>
  <li><a href="https://github.com/nationalparkservice/symbol-library">National Park Service Symbol Library</a></li>
  <li><a href="https://www.nps.gov/carto/app/#!/maps/symbols">Map Symbols & Patterns for NPS Maps</a></li>
  <li><a href="https://github.com/mapbox/maki">Maki - A pixel-aligned point of interest icon set made for
    cartographers</a></li>
</ul>

