---
title: National Park Symbols
---

<h1>National Park Symbols</h1>

<p class="lead">A collection of National Park Symbols provided in 3 styles of Scalable Vector Graphics and TrueType Fonts</p>

<h2>Black Background</h2>

<p><img src="/images/svg/black/maps.svg" width="128" heigh="128"></p>

<h2>White Background</h2>

<p><img src="/images/svg/white/maps.svg" width="128" heigh="128"></p>

<h2>Transparent Background with Parameterized Color</h2>

<p><img src="/images/svg/transparent/maps.svg" width="128" heigh="128"></p>

<p class="small">Intended for use with <a href="https://qgis.org/">QGIS</a>.</p>

<h3><a href="/symbols/">View all the symbols</a></h3>

<h3><a href="/download/">Download the symbols</a></h3>
